*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	list-style:none;
}
.headercolor{
	background-color:#0020F4;
	height:387.56px;
}
.logo{
	margin-top:40px;
	width:113px;
	height:65px;
}
.navlist{
	font-size:16px;
	color:#FFFFFF;
}
.btn{
	width:160px;
	height:55px;
	background-color:white;
	border-radius:28px;
}
.contact{
	color:#171717;
	font-size:16px;
	width:81px;
	height:19px;
}
