*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	list-style:none;
}
.headercolor{
	background-color:#0020F4;
	height:387.56px;
}
.logo{
	margin-top:40px;
	width:113px;
	height:65px;
}
.navlist{
	font-size:16px;
	color:#FFFFFF;
}
.btn{
	width:160px;
	height:55px;
	background-color:white;
	border-radius:28px;
}
.contact{
	color:#171717;
	font-size:16px;
	width:100%;
	}
.about{
	width:1195px;
	margin:0 auto;
}
.about img{
	width:100%;
}
.titlemain{
	font-size:28px;
	color:#171717;
	margin-top:33px;
	margin-bottom:60px;
}
.newabout{
	width:1195px;
	margin:0 auto;
}
.sectionimg img{
	width:210px;
	height: 210px;
}
.a{
	margin-right:25px;
	margin-bottom:60px;
}
.b{
	margin-left:25px;
	margin-bottom:60px;
}
.c{
	margin-left:25px;
	margin-bottom:60px;
}
.d{
	margin-left:25px;
	margin-bottom:60px;
}
.e{
	margin-left:25px;
	margin-bottom:60px;
}
.newabout p{
	color: #171717;
	font-size: 16px;
}
.space{
	margin-top:18px;
	margin-bottom:18px;
}